.customChip{
  $paddingChip: 5px;
  background-color:#eee;
  padding: 2px 10px;
  margin: 0 5px;
  border-radius: 10px;

  .toRemove{
		padding-left: 5px;
		cursor: pointer;
		&:hover {
			opacity: .7;
		}
  }
}