@import '~/pages/custom.scss';

.challengeHeader {
  &--title {
    text-align: center;
    margin: 20px auto 15px;
    h1 {
      @media (max-width: 991px) {
        font-size: 30px;
      }
      @media (max-width: 480px) {
        font-size: 27px;
      }
    }
  }
  &--info {
    .info a {
      margin-left: 0 !important;
    }
  }
  .programAndDates {
    @media (max-width: 991px) {
      text-align: center;
      margin: 20px 0 30px;
    }
    .btn {
      margin-top: 15px;
    }
    > .info a {
      text-decoration: underline;
    }
    span.status {
      color: theme-color('primary');
    }
  }

  .challengeStats {
    margin-top: 20px;
    @media (max-width: 768px) {
      text-align: center !important;
    }
  }
}
