@import '~bootstrap/scss/bootstrap.scss';
@import '~/pages/custom.scss';

.post {
  width: 100%;
  // background: white;
  // border-radius: 5px;
  // margin: 25px 0;
  position: relative;
  // box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 4px 7px 0 rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

  &.postCard {
    height: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }
  .topContent {
    // border-bottom: 1px solid color('lightgray');
    width: 100%;
    // padding: 18px 15px 10px;
    // @media (max-width: 480px) {
    //   padding: 15px 10px 10px;
    // }

    .topBar {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;

      .right {
        color: color('darkgray');

        .dropright > button {
          padding: 0px 8px;
          height: 30px;
          opacity: 0.8;
          background: none !important;
          border: none;
          margin-top: 0 !important;
          color: color('gray-dark');

          &:after {
            display: none;
          }

          &:hover {
            background: #d3d3d3 !important;
            // background: color("lightgray");
          }

          &:focus {
            box-shadow: none;
            // background: color("lightgray");
            background: #d3d3d3 !important;
          }
        }

        &.comment-manage .dropdown-toggle {
          height: 21px !important;
        }

        .dropdown-menu {
          cursor: default;
          transform: translate3d(-165px, 29px, 0px);
          font-size: 1.13rem;
          button {
            margin: 0 0 5px 7px;
            align-items: center;

            &:hover {
              cursor: pointer;
              opacity: 0.7;
            }
          }
        }

        span {
          padding-right: 5px;
        }

        &:hover {
          color: darken(color('lightgray'), 30);
        }
      }

      .left {
        display: flex;

        .userImgContainer {
          width: 50px;
          height: 50px;
          margin-right: 20px;
        }

        .userImg {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-size: cover;
          background-position: center;
          background-color: white;
        }

        .topInfo {
          a {
            color: color('gray-dark');
            font-size: 14px;
            font-weight: 500;
          }

          .date {
            font-size: 11.3px;
            font-weight: bold;
            color: lighten(color('gray-dark'), 30);
          }

          .from,
          .from a {
            font-size: 11.3px;
            font-weight: bold;
            color: lighten(color('gray-dark'), 30);
          }
        }
      }
    }

    .feedDocumentList {
      margin: 10px 0;
      display: block !important;
    }

    .postTextContainer {
      position: relative;

      .text.extra {
        margin-bottom: 5px;
        font-weight: 400;
        font-size: 15px;
        white-space: pre-wrap;
        word-break: break-word;
        line-height: 24px;

        a[href^='/user'],
        a[href^='/project'] {
          // style for mentions
          // background-color: rgb(212, 225, 235);
          color: theme-color('primary');
          font-size: 15px;
          padding: 3px 2px 0px;
          margin-left: -3px;

          // font-weight: 500;
          span {
            display: none;
          }
        }
      }

      .viewMore {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: 0;
        padding-left: 8px;
        color: darken(color('lightgray'), 30);
        background-color: white;
        font-size: 15px;
        cursor: pointer;
        text-transform: lowercase;

        &:hover {
          color: theme-color('primary') !important;
          text-decoration: underline;
        }
      }

      &.hideText {
        max-height: 6rem;
        overflow: hidden;
      }
    }

    .postLinkMeta {
      background: lighten(lightgrey, 10);
      width: calc(100% + 30px);
      margin-left: -15px;
      margin-top: 18px;

      @media (max-width: 480px) {
        width: calc(100% + 20px);
        margin-left: -10px;
      }

      &--image {
        width: 100%;
        height: 270px;
        object-fit: cover;

        @media (max-width: 480px) {
          height: 180px;
        }
      }

      &--infos {
        padding: 8px 15px 2px;

        h4 {
          color: color('gray-dark');
          font-size: 18px;
          white-space: nowrap;
          overflow: hidden;

          @media (max-width: 480px) {
            font-size: 16px;
          }
        }

        p {
          color: darken(color('lightgray'), 30);
          font-size: 14px;
          white-space: nowrap;
          overflow: hidden;
        }

        h4,
        p {
          margin-bottom: 10px;
        }
      }

      a:hover {
        text-decoration: none;
      }

      &:hover {
        opacity: 0.95;
      }
    }
  }

  .actionBar {
    padding-top: 10px;
    width: 100%;

    .postStats {
      font-size: 14px;
      display: flex;
      justify-content: space-between;

      svg {
        margin: 0;
      }

      > button {
        margin-right: 10px;
        color: grey !important;
        padding: 0;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }

  .alert {
    &.post {
      position: absolute;
      top: 45px !important;
      left: calc(50% - 200px);
      width: 400px !important;
      text-align: center;
      display: none;
    }
    &.comment {
      display: none;
    }
  }
}

.post:first-child {
  margin-top: 0em;
  padding-top: 0em;
}

.post:last-child {
  margin-bottom: 0em;
  padding-bottom: 0em;
}

svg {
  margin: 0em 0.25rem 0em 0em;
}

.postImage {
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-bottom: 10px;
  margin-top: 15px;

  @media (max-width: 480px) {
    width: calc(100% + 32px);
    margin-left: -16px;
  }
}

.slick-prev {
  z-index: 9;
}

// .slick-next:before {
// 	content:url('assets/images/arrow-right.png');
// }
// .slick-prev:before {
// 	content:url('assets/images/arrow-left.png');
// }

.postUpdate {
  .suggestionsContainer__control {
    border: 1px solid lightgrey !important;
    border-radius: 10px;
  }
}

.btn-postcard {
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 21px !important;
  padding: 4px 0 !important;
  margin: 0 18px 0 0 !important;

  &:hover {
    cursor: pointer;
    color: theme-color('primary') !important;
  }

  &:focus {
    box-shadow: none;
  }
}

.post-manage {
  cursor: pointer;
}

button.comment {
  &:focus {
    box-shadow: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

.clappersModal .userCard {
  &--profileImg {
    width: 60px;
    height: 60px;
  }

  &--userInfo {
    width: 100%;
    padding: 0 0 0 20px;
  }

  &--buttons {
    display: none;
  }
}
