.needCreate {
  padding: 15px 5px;
  &.justButton {
    padding: 0 0 25px 0;
  }
  .btn {
    margin: 0;
  }
  &.isCreating {
    box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.1), 0 3px 2px rgba(0, 0, 0, 0.1);
    margin: 0px 0 50px;
  }
}
